/* font import */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

/* reset css */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background-color: #9DC08B;
  padding: 15px 100px;
}

a {
  color: black;
  text-decoration: none;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* about-section */

.container {
  margin: 0 auto;
  width: 1200px;
}

.about {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-weight: 600;
}

.description p {
  overflow-wrap: break-word;
}

.photo {
  width: 50%;
  clip-path: polygon(63% 0, 0 80%, 88% 100%);
}

.btn-projects {
  width: 30%;
  padding: 15px;
  background-color: #f7db6a;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

/* pacman */
@keyframes move {
  0% {
    left: -20%;
  }
  100% {
    left: 110%;
  }
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
  }
  50% {
    clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
  }
  75% {
    clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
  }
  100% {
    clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  }
}

@keyframes food {
  0% {
    transform: translateX(0);
      opacity: 1;
  }
  100% {
    transform: translateX(-50px);
    opacity: 0;
  }
}

.pacman {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #f2d648;
  position: relative;
  margin: 20px;
  animation: move 15s infinite;
}


.pacman__eye {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 20px;
  right: 40px;
  background: #333333;
}

.pacman__mouth {
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
  animation: eat .7s infinite;
}

.pacman__food {
  position: absolute;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  top: 40%;
  left: 120px;
  animation: food .6s infinite;
}



/* project-section */

.proj-title {
  text-align: center;
  margin-bottom: 80px;
  font-weight: 600;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.project {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.project:hover {
  opacity: 1;
}

.project-name {
  font-weight: 600;
  text-align: center;
}

.align-center{
  text-align: center;
}

/* contact-section */

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font-weight: 600;
}

.input {
  width: 100%;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  max-width: 400px;
  font-weight: 400;
}

.form-control,
textarea {
  width: 100%;
  height: 35px;
  background-color: #7aa87439;
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  border: none;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  background-color: #f7db6ac4;
}

.alt-send-button {
  width: 100%;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  color: rgba(46, 45, 45, 0.751);
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: rgba(46, 45, 45, 0.751);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #7aa874;
  text-decoration: none;
}

/* Social Media Icons */
.social-media-list {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  nav {
    padding: 0;
    justify-content: space-around;
    align-items: center;
    height: 35px;
  }

  .container {
    width: 100%;
  }

  .about {
    flex-direction: column;
  }

  .projects {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .project,
  .description,
  .photo {
    width: 90%;
  }

  .description {
    align-items: center;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal {
    margin: 0 auto;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-control,
  textarea {
    margin: 0 auto;
  }

  .name,
  .email,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }
  .social-media-list {
    left: 0;
  }
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
